<% if @current_trimester %>
  <h2><%= "#{@current_trimester.term} - #{@current_trimester.year}" %></h2>
  <ul>
    <% @current_trimester.courses.each do |course| %>
      <li>
        <a href=""><%= course.coding_class.title %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No current trimester</p>
<% end %>

<% if @upcoming_trimester %>
  <h2><%= "#{@upcoming_trimester.term} - #{@upcoming_trimester.year}" %></h2>
<% else %>
  <p>No upcoming trimester</p>
<% end %>
